{:deps
 {org.clojure/clojure                      {:mvn/version "1.11.1"}
  nrepl/nrepl                              {:mvn/version "1.0.0"}
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}
  org.clojure/tools.namespace              {:mvn/version "1.3.0"}
  org.clojure/data.priority-map            {:mvn/version "1.1.0"}
  io.github.humbleui/humbleui              {:git/sha "69faab0123f61c242e34061e8bcaaf772b46d0e1"
                                            #_#_:local/root "/Users/tonsky/ws/humbleui"}}
 :aliases
 {:profile
  {:jvm-opts
   ["-Dclojure.main.report=stderr"
    "-Djdk.attach.allowAttachSelf"
    "-XX:+UnlockDiagnosticVMOptions"
    "-XX:+DebugNonSafepoints"]}}}