{:deps
 {org.clojure/clojure                      {:mvn/version "1.11.1"}
  nrepl/nrepl                              {:mvn/version "1.0.0"}
  com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}
  org.clojure/tools.namespace              {:mvn/version "1.3.0"}
  io.github.humbleui/humbleui              {:git/sha "0e93d9a6172caff3bf58eb00f5fbef4e30a977cb"
                                            #_#_:local/root "/Users/tonsky/ws/humbleui"}}
 :aliases
 {:profile
  {:jvm-opts
   ["-Djdk.attach.allowAttachSelf"
    "-XX:+UnlockDiagnosticVMOptions"
    "-XX:+DebugNonSafepoints"]}}}